/* Here goes your CSS */

.social-links {
  transition: all 200ms ease;
}

.social-links a {
  color: purple;
  text-decoration: none;
}

.social-links:hover {
  transform: rotate(10deg);
}

.cover-card{
  padding: 20px;
  color: darkgray;
  width: 80%;
  margin: 30px auto;
  transition: box-shadow 150ms, transform 150ms;
  text-align: justify;

}

.button {
  padding: 20px;
  color: darkgray;
  width: 65%;
  margin: 30px auto;
  transition: box-shadow 150ms, transform 150ms;
  text-align: center;

}

body{
  background-color: #EBEBEB;
  font-family: 'Open Sans', sans-serif;;
  color: black;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

.text-center p{
  text-align: center;
}

.description p{
  text-align: jusify;
}

h1{
  font-size: 20px;
  line-height: 30px;
  color: #111810 ;
  font-family: 'Raleway', sans-serif;
}
h2{
  font-size: 24px;
  line-height: 30px;
  color: #501B46 ;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h3{
  font-size: 20px;
  line-height: 30px;
  color: #111810 ;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.avatar{
  border-radius: 50%;
  border: 3px solid #cccccc;
  width: 150px;
  height: 150px;
}

.cover{
  border-radius: 4%;
  border: 20px solid #EBEBEB;
  width: 200px;
  height: 200px;
  margin: 50px auto;
}

.btn-red{
  background-color: #AE7FCE;
  color: white;
  padding: 15px;
  text-decoration: none;
  border-radius: 4px;
}

.btn-red:hover{
  background-color: #A581FF;
}


.card-white{
  background-color: #EBEBEB;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  color: darkgray;
  width: 65%;
  margin: 30px auto;
  transition: box-shadow 150ms, transform 150ms;
  text-align: center;
}

.container{
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  color: darkgray;
  width: 80%;
  margin: 20px auto;

}

.list-inline{
  list-style: none;
  padding-left: 0;
}

.list-inline li{
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
